<div class="container px-6 mx-auto grid">
	<div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
		<div class="mt-4 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Static Resources
				</h2>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
					Fiber
				</h4>
				<div class="grid" id="matrix-static-fiber" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="fsp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="fsp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="fsp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="fsp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="fsp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
					Hide
				</h4>
				<div class="grid" id="matrix-static-hide" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="hsp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hsp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hsp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hsp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hsp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
					Wood
				</h4>
				<div class="grid" id="matrix-static-wood" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="wsp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wsp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wsp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wsp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wsp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
					Ore
				</h4>
				<div class="grid" id="matrix-static-ore" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="osp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="osp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="osp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="osp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="osp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl mb-4 font-semibold text-gray-600 dark:text-gray-300">
					Rock
				</h4>
				<div class="grid" id="matrix-static-rock" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="rsp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rsp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rsp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rsp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rsp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-8 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Living Resources
				</h2>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Dryad (Fiber)
				</h4>
				<div class="grid" id="matrix-static-rock" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="flp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="flp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="flp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="flp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="flp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Animals (Hide)
				</h4>
				<div class="grid" id="matrix-static-rock" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="hlp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hlp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hlp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hlp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="hlp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Spirit (Wood)
				</h4>
				<div class="grid" id="matrix-static-rock" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="wlp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wlp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wlp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wlp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="wlp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Elemental (Ore)
				</h4>
				<div class="grid" id="matrix-static-rock" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="olp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="olp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="olp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="olp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="olp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Elemental (Rock)
				</h4>
				<div class="grid" id="matrix-static-rock" style="grid-template-columns: 1fr 90%; gap: 10px;">
					<div class="grid" style="gap: 10px;">
						<p class="dark:text-white" style="height: 20px;">E&nbsp;/&nbsp;T</p>
						<p class="dark:text-white" style="height: 20px;">E0</p>
						<p class="dark:text-white" style="height: 20px;">E1</p>
						<p class="dark:text-white" style="height: 20px;">E2</p>
						<p class="dark:text-white" style="height: 20px;">E3</p>
						<p class="dark:text-white" style="height: 20px;">E4</p>
					</div>
					<div class="grid" style="gap: 10px;">
						<div class="matrix-upper-texts grid" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<p class="dark:text-white" style="width: 20px; height: 20px;">T1</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T2</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T3</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T4</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T5</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T6</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T7</p>
							<p class="dark:text-white" style="width: 20px; height: 20px;">T8</p>
						</div>
						<div class="grid" id="rlp-e0" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rlp-e1" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rlp-e2" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rlp-e3" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
						<div class="grid" id="rlp-e4" style="grid-template-columns: repeat(8, 1fr); gap: 10px;">
							<span></span>
							<span></span>
							<span></span>
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
							<input type="checkbox" id="" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mt-8 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Other
				</h2>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>				
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingFishing" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Show fishing pool</span>
				</label>
			</div>
		</div>

		<div class="mt-8 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Debug
				</h2>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>				
				<label class="flex items-center space-x-2">
					<input type="checkbox" id="settingRawSize" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Show Size</span>
				</label>

				<!-- TODO -->
				<label class="flex items-center">
                    <input disabled type="checkbox" id="settingLivingResourcesHP" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Show Hp</span>
                </label>

                <label class="flex items-center">
                    <input type="checkbox" id="settingLivingResourcesID" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Show ID</span>
                </label>
			</div>
		</div>

	</div>
</div>

<script>
	function returnLocalBool(item)
	{
		if (localStorage.getItem(item) == "true")
		{
			return true;
		}
		else
		{
			return false;
		}
	}


	//#region Static
	//#region Static fiber
	let sfEnchants = localStorage.getItem("settingStaticFiberEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof sfEnchants !== 'object')
		sfEnchants = JSON.parse(sfEnchants);

	const staticFiberParentE0 = document.getElementById("fsp-e0");
	const staticFiberParentE1 = document.getElementById("fsp-e1");
	const staticFiberParentE2 = document.getElementById("fsp-e2");
	const staticFiberParentE3 = document.getElementById("fsp-e3");
	const staticFiberParentE4 = document.getElementById("fsp-e4");


	for (let i = 0; i < staticFiberParentE0.children.length; i++)
	{
		const element = staticFiberParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = sfEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			sfEnchants['e0'][ind] = !sfEnchants['e0'][ind];
			localStorage.setItem("settingStaticFiberEnchants", JSON.stringify(sfEnchants))
		})
	}
	
	for (let i = 0; i < staticFiberParentE1.children.length; i++)
	{
		const element = staticFiberParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = sfEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			sfEnchants['e1'][ind] = !sfEnchants['e1'][ind];
			localStorage.setItem("settingStaticFiberEnchants", JSON.stringify(sfEnchants))
		})
	}

	for (let i = 0; i < staticFiberParentE2.children.length; i++)
	{
		const element = staticFiberParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = sfEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			sfEnchants['e2'][ind] = !sfEnchants['e2'][ind];
			localStorage.setItem("settingStaticFiberEnchants", JSON.stringify(sfEnchants))
		})
	}

	for (let i = 0; i < staticFiberParentE3.children.length; i++)
	{
		const element = staticFiberParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = sfEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			sfEnchants['e3'][ind] = !sfEnchants['e3'][ind];
			localStorage.setItem("settingStaticFiberEnchants", JSON.stringify(sfEnchants))
		})
	}

	for (let i = 0; i < staticFiberParentE4.children.length; i++)
	{
		const element = staticFiberParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = sfEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			sfEnchants['e4'][ind] = !sfEnchants['e4'][ind];
			localStorage.setItem("settingStaticFiberEnchants", JSON.stringify(sfEnchants))
		})
	}
	//#endregion
			
	//#region Static hide
	let shEnchants = localStorage.getItem("settingStaticHideEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof shEnchants !== 'object')
		shEnchants = JSON.parse(shEnchants);

	const staticHideParentE0 = document.getElementById("hsp-e0");
	const staticHideParentE1 = document.getElementById("hsp-e1");
	const staticHideParentE2 = document.getElementById("hsp-e2");
	const staticHideParentE3 = document.getElementById("hsp-e3");
	const staticHideParentE4 = document.getElementById("hsp-e4");


	for (let i = 0; i < staticHideParentE0.children.length; i++)
	{
		const element = staticHideParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = shEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			shEnchants['e0'][ind] = !shEnchants['e0'][ind];
			localStorage.setItem("settingStaticHideEnchants", JSON.stringify(shEnchants))
		})
	}
	
	for (let i = 0; i < staticHideParentE1.children.length; i++)
	{
		const element = staticHideParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = shEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			shEnchants['e1'][ind] = !shEnchants['e1'][ind];
			localStorage.setItem("settingStaticHideEnchants", JSON.stringify(shEnchants))
		})
	}

	for (let i = 0; i < staticHideParentE2.children.length; i++)
	{
		const element = staticHideParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = shEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			shEnchants['e2'][ind] = !shEnchants['e2'][ind];
			localStorage.setItem("settingStaticHideEnchants", JSON.stringify(shEnchants))
		})
	}

	for (let i = 0; i < staticHideParentE3.children.length; i++)
	{
		const element = staticHideParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = shEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			shEnchants['e3'][ind] = !shEnchants['e3'][ind];
			localStorage.setItem("settingStaticHideEnchants", JSON.stringify(shEnchants))
		})
	}

	for (let i = 0; i < staticHideParentE4.children.length; i++)
	{
		const element = staticHideParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = shEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			shEnchants['e4'][ind] = !shEnchants['e4'][ind];
			localStorage.setItem("settingStaticHideEnchants", JSON.stringify(shEnchants))
		})
	}
	//#endregion
			
	//#region Static wood
	let swEnchants = localStorage.getItem("settingStaticWoodEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof swEnchants !== 'object')
		swEnchants = JSON.parse(swEnchants);

	const staticWoodParentE0 = document.getElementById("wsp-e0");
	const staticWoodParentE1 = document.getElementById("wsp-e1");
	const staticWoodParentE2 = document.getElementById("wsp-e2");
	const staticWoodParentE3 = document.getElementById("wsp-e3");
	const staticWoodParentE4 = document.getElementById("wsp-e4");


	for (let i = 0; i < staticWoodParentE0.children.length; i++)
	{
		const element = staticWoodParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = swEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			swEnchants['e0'][ind] = !swEnchants['e0'][ind];
			localStorage.setItem("settingStaticWoodEnchants", JSON.stringify(swEnchants))
		})
	}
	
	for (let i = 0; i < staticWoodParentE1.children.length; i++)
	{
		const element = staticWoodParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = swEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			swEnchants['e1'][ind] = !swEnchants['e1'][ind];
			localStorage.setItem("settingStaticWoodEnchants", JSON.stringify(swEnchants))
		})
	}

	for (let i = 0; i < staticWoodParentE2.children.length; i++)
	{
		const element = staticWoodParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = swEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			swEnchants['e2'][ind] = !swEnchants['e2'][ind];
			localStorage.setItem("settingStaticWoodEnchants", JSON.stringify(swEnchants))
		})
	}

	for (let i = 0; i < staticWoodParentE3.children.length; i++)
	{
		const element = staticWoodParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = swEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			swEnchants['e3'][ind] = !swEnchants['e3'][ind];
			localStorage.setItem("settingStaticWoodEnchants", JSON.stringify(swEnchants))
		})
	}

	for (let i = 0; i < staticWoodParentE4.children.length; i++)
	{
		const element = staticWoodParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = swEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			swEnchants['e4'][ind] = !swEnchants['e4'][ind];
			localStorage.setItem("settingStaticWoodEnchants", JSON.stringify(swEnchants))
		})
	}
	//#endregion
	
	//#region Static ore
	let soEnchants = localStorage.getItem("settingStaticOreEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof soEnchants !== 'object')
		soEnchants = JSON.parse(soEnchants);

	const staticOreParentE0 = document.getElementById("osp-e0");
	const staticOreParentE1 = document.getElementById("osp-e1");
	const staticOreParentE2 = document.getElementById("osp-e2");
	const staticOreParentE3 = document.getElementById("osp-e3");
	const staticOreParentE4 = document.getElementById("osp-e4");


	for (let i = 0; i < staticOreParentE0.children.length; i++)
	{
		const element = staticOreParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = soEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			soEnchants['e0'][ind] = !soEnchants['e0'][ind];
			localStorage.setItem("settingStaticOreEnchants", JSON.stringify(soEnchants))
		})
	}
	
	for (let i = 0; i < staticOreParentE1.children.length; i++)
	{
		const element = staticOreParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = soEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			soEnchants['e1'][ind] = !soEnchants['e1'][ind];
			localStorage.setItem("settingStaticOreEnchants", JSON.stringify(soEnchants))
		})
	}

	for (let i = 0; i < staticOreParentE2.children.length; i++)
	{
		const element = staticOreParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = soEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			soEnchants['e2'][ind] = !soEnchants['e2'][ind];
			localStorage.setItem("settingStaticOreEnchants", JSON.stringify(soEnchants))
		})
	}

	for (let i = 0; i < staticOreParentE3.children.length; i++)
	{
		const element = staticOreParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = soEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			soEnchants['e3'][ind] = !soEnchants['e3'][ind];
			localStorage.setItem("settingStaticOreEnchants", JSON.stringify(soEnchants))
		})
	}

	for (let i = 0; i < staticOreParentE4.children.length; i++)
	{
		const element = staticOreParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = soEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			soEnchants['e4'][ind] = !soEnchants['e4'][ind];
			localStorage.setItem("settingStaticOreEnchants", JSON.stringify(soEnchants))
		})
	}
	//#endregion

	//#region Static rock
	let srEnchants = localStorage.getItem("settingStaticRockEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof srEnchants !== 'object')
		srEnchants = JSON.parse(srEnchants);

	const staticRockParentE0 = document.getElementById("rsp-e0");
	const staticRockParentE1 = document.getElementById("rsp-e1");
	const staticRockParentE2 = document.getElementById("rsp-e2");
	const staticRockParentE3 = document.getElementById("rsp-e3");
	const staticRockParentE4 = document.getElementById("rsp-e4");


	for (let i = 0; i < staticRockParentE0.children.length; i++)
	{
		const element = staticRockParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = srEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			srEnchants['e0'][ind] = !srEnchants['e0'][ind];
			localStorage.setItem("settingStaticRockEnchants", JSON.stringify(srEnchants))
		})
	}
	
	for (let i = 0; i < staticRockParentE1.children.length; i++)
	{
		const element = staticRockParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = srEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			srEnchants['e1'][ind] = !srEnchants['e1'][ind];
			localStorage.setItem("settingStaticRockEnchants", JSON.stringify(srEnchants))
		})
	}

	for (let i = 0; i < staticRockParentE2.children.length; i++)
	{
		const element = staticRockParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = srEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			srEnchants['e2'][ind] = !srEnchants['e2'][ind];
			localStorage.setItem("settingStaticRockEnchants", JSON.stringify(srEnchants))
		})
	}

	for (let i = 0; i < staticRockParentE3.children.length; i++)
	{
		const element = staticRockParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = srEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			srEnchants['e3'][ind] = !srEnchants['e3'][ind];
			localStorage.setItem("settingStaticRockEnchants", JSON.stringify(srEnchants))
		})
	}

	for (let i = 0; i < staticRockParentE4.children.length; i++)
	{
		const element = staticRockParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = srEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			srEnchants['e4'][ind] = !srEnchants['e4'][ind];
			localStorage.setItem("settingStaticRockEnchants", JSON.stringify(srEnchants))
		})
	}
	//#endregion
	//#endregion

	//#region Living
	//#region Living fiber
	let lfEnchants = localStorage.getItem("settingLivingFiberEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof lfEnchants !== 'object')
		lfEnchants = JSON.parse(lfEnchants);

	const livingFiberParentE0 = document.getElementById("flp-e0");
	const livingFiberParentE1 = document.getElementById("flp-e1");
	const livingFiberParentE2 = document.getElementById("flp-e2");
	const livingFiberParentE3 = document.getElementById("flp-e3");
	const livingFiberParentE4 = document.getElementById("flp-e4");


	for (let i = 0; i < livingFiberParentE0.children.length; i++)
	{
		const element = livingFiberParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lfEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			lfEnchants['e0'][ind] = !lfEnchants['e0'][ind];
			localStorage.setItem("settingLivingFiberEnchants", JSON.stringify(lfEnchants))
		})
	}
	
	for (let i = 0; i < livingFiberParentE1.children.length; i++)
	{
		const element = livingFiberParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lfEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			lfEnchants['e1'][ind] = !lfEnchants['e1'][ind];
			localStorage.setItem("settingLivingFiberEnchants", JSON.stringify(lfEnchants))
		})
	}

	for (let i = 0; i < livingFiberParentE2.children.length; i++)
	{
		const element = livingFiberParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lfEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			lfEnchants['e2'][ind] = !lfEnchants['e2'][ind];
			localStorage.setItem("settingLivingFiberEnchants", JSON.stringify(lfEnchants))
		})
	}

	for (let i = 0; i < livingFiberParentE3.children.length; i++)
	{
		const element = livingFiberParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lfEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			lfEnchants['e3'][ind] = !lfEnchants['e3'][ind];
			localStorage.setItem("settingLivingFiberEnchants", JSON.stringify(lfEnchants))
		})
	}

	for (let i = 0; i < livingFiberParentE4.children.length; i++)
	{
		const element = livingFiberParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lfEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			lfEnchants['e4'][ind] = !lfEnchants['e4'][ind];
			localStorage.setItem("settingLivingFiberEnchants", JSON.stringify(lfEnchants))
		})
	}
	//#endregion
			
	//#region Living hide
	let lhEnchants = localStorage.getItem("settingLivingHideEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof lhEnchants !== 'object')
		lhEnchants = JSON.parse(lhEnchants);

	const livingHideParentE0 = document.getElementById("hlp-e0");
	const livingHideParentE1 = document.getElementById("hlp-e1");
	const livingHideParentE2 = document.getElementById("hlp-e2");
	const livingHideParentE3 = document.getElementById("hlp-e3");
	const livingHideParentE4 = document.getElementById("hlp-e4");


	for (let i = 0; i < livingHideParentE0.children.length; i++)
	{
		const element = livingHideParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lhEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			lhEnchants['e0'][ind] = !lhEnchants['e0'][ind];
			localStorage.setItem("settingLivingHideEnchants", JSON.stringify(lhEnchants))
		})
	}
	
	for (let i = 0; i < livingHideParentE1.children.length; i++)
	{
		const element = livingHideParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lhEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			lhEnchants['e1'][ind] = !lhEnchants['e1'][ind];
			localStorage.setItem("settingLivingHideEnchants", JSON.stringify(lhEnchants))
		})
	}

	for (let i = 0; i < livingHideParentE2.children.length; i++)
	{
		const element = livingHideParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lhEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			lhEnchants['e2'][ind] = !lhEnchants['e2'][ind];
			localStorage.setItem("settingLivingHideEnchants", JSON.stringify(lhEnchants))
		})
	}

	for (let i = 0; i < livingHideParentE3.children.length; i++)
	{
		const element = livingHideParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lhEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			lhEnchants['e3'][ind] = !lhEnchants['e3'][ind];
			localStorage.setItem("settingLivingHideEnchants", JSON.stringify(lhEnchants))
		})
	}

	for (let i = 0; i < livingHideParentE4.children.length; i++)
	{
		const element = livingHideParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lhEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			lhEnchants['e4'][ind] = !lhEnchants['e4'][ind];
			localStorage.setItem("settingLivingHideEnchants", JSON.stringify(lhEnchants))
		})
	}
	//#endregion
			
	//#region Living wood
	let lwEnchants = localStorage.getItem("settingLivingWoodEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof lwEnchants !== 'object')
		lwEnchants = JSON.parse(lwEnchants);

	const livingWoodParentE0 = document.getElementById("wlp-e0");
	const livingWoodParentE1 = document.getElementById("wlp-e1");
	const livingWoodParentE2 = document.getElementById("wlp-e2");
	const livingWoodParentE3 = document.getElementById("wlp-e3");
	const livingWoodParentE4 = document.getElementById("wlp-e4");


	for (let i = 0; i < livingWoodParentE0.children.length; i++)
	{
		const element = livingWoodParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lwEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			lwEnchants['e0'][ind] = !lwEnchants['e0'][ind];
			localStorage.setItem("settingLivingWoodEnchants", JSON.stringify(lwEnchants))
		})
	}
	
	for (let i = 0; i < livingWoodParentE1.children.length; i++)
	{
		const element = livingWoodParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lwEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			lwEnchants['e1'][ind] = !lwEnchants['e1'][ind];
			localStorage.setItem("settingLivingWoodEnchants", JSON.stringify(lwEnchants))
		})
	}

	for (let i = 0; i < livingWoodParentE2.children.length; i++)
	{
		const element = livingWoodParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lwEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			lwEnchants['e2'][ind] = !lwEnchants['e2'][ind];
			localStorage.setItem("settingLivingWoodEnchants", JSON.stringify(lwEnchants))
		})
	}

	for (let i = 0; i < livingWoodParentE3.children.length; i++)
	{
		const element = livingWoodParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lwEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			lwEnchants['e3'][ind] = !lwEnchants['e3'][ind];
			localStorage.setItem("settingLivingWoodEnchants", JSON.stringify(lwEnchants))
		})
	}

	for (let i = 0; i < livingWoodParentE4.children.length; i++)
	{
		const element = livingWoodParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lwEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			lwEnchants['e4'][ind] = !lwEnchants['e4'][ind];
			localStorage.setItem("settingLivingWoodEnchants", JSON.stringify(lwEnchants))
		})
	}
	//#endregion
	
	//#region Living ore
	let loEnchants = localStorage.getItem("settingLivingOreEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof loEnchants !== 'object')
		loEnchants = JSON.parse(loEnchants);

	const livingOreParentE0 = document.getElementById("olp-e0");
	const livingOreParentE1 = document.getElementById("olp-e1");
	const livingOreParentE2 = document.getElementById("olp-e2");
	const livingOreParentE3 = document.getElementById("olp-e3");
	const livingOreParentE4 = document.getElementById("olp-e4");


	for (let i = 0; i < livingOreParentE0.children.length; i++)
	{
		const element = livingOreParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = loEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			loEnchants['e0'][ind] = !loEnchants['e0'][ind];
			localStorage.setItem("settingLivingOreEnchants", JSON.stringify(loEnchants))
		})
	}
	
	for (let i = 0; i < livingOreParentE1.children.length; i++)
	{
		const element = livingOreParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = loEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			loEnchants['e1'][ind] = !loEnchants['e1'][ind];
			localStorage.setItem("settingLivingOreEnchants", JSON.stringify(loEnchants))
		})
	}

	for (let i = 0; i < livingOreParentE2.children.length; i++)
	{
		const element = livingOreParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = loEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			loEnchants['e2'][ind] = !loEnchants['e2'][ind];
			localStorage.setItem("settingLivingOreEnchants", JSON.stringify(loEnchants))
		})
	}

	for (let i = 0; i < livingOreParentE3.children.length; i++)
	{
		const element = livingOreParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = loEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			loEnchants['e3'][ind] = !loEnchants['e3'][ind];
			localStorage.setItem("settingLivingOreEnchants", JSON.stringify(loEnchants))
		})
	}

	for (let i = 0; i < livingOreParentE4.children.length; i++)
	{
		const element = livingOreParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = loEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			loEnchants['e4'][ind] = !loEnchants['e4'][ind];
			localStorage.setItem("settingLivingOreEnchants", JSON.stringify(loEnchants))
		})
	}
	//#endregion

	//#region Living rock
	let lrEnchants = localStorage.getItem("settingLivingRockEnchants") || {
		'e0': [false, false, false, false, false, false, false, false],
		'e1': [false, false, false, false, false, false, false, false],
		'e2': [false, false, false, false, false, false, false, false],
		'e3': [false, false, false, false, false, false, false, false],
		'e4': [false, false, false, false, false, false, false, false],
	};

	if (typeof lrEnchants !== 'object')
		lrEnchants = JSON.parse(lrEnchants);

	const livingRockParentE0 = document.getElementById("rlp-e0");
	const livingRockParentE1 = document.getElementById("rlp-e1");
	const livingRockParentE2 = document.getElementById("rlp-e2");
	const livingRockParentE3 = document.getElementById("rlp-e3");
	const livingRockParentE4 = document.getElementById("rlp-e4");


	for (let i = 0; i < livingRockParentE0.children.length; i++)
	{
		const element = livingRockParentE0.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lrEnchants['e0'][i];
		element.addEventListener("click", (e) => {
			lrEnchants['e0'][ind] = !lrEnchants['e0'][ind];
			localStorage.setItem("settingLivingRockEnchants", JSON.stringify(lrEnchants))
		})
	}
	
	for (let i = 0; i < livingRockParentE1.children.length; i++)
	{
		const element = livingRockParentE1.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lrEnchants['e1'][i];
		element.addEventListener("click", (e) => {
			lrEnchants['e1'][ind] = !lrEnchants['e1'][ind];
			localStorage.setItem("settingLivingRockEnchants", JSON.stringify(lrEnchants))
		})
	}

	for (let i = 0; i < livingRockParentE2.children.length; i++)
	{
		const element = livingRockParentE2.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lrEnchants['e2'][i];
		element.addEventListener("click", (e) => {
			lrEnchants['e2'][ind] = !lrEnchants['e2'][ind];
			localStorage.setItem("settingLivingRockEnchants", JSON.stringify(lrEnchants))
		})
	}

	for (let i = 0; i < livingRockParentE3.children.length; i++)
	{
		const element = livingRockParentE3.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lrEnchants['e3'][i];
		element.addEventListener("click", (e) => {
			lrEnchants['e3'][ind] = !lrEnchants['e3'][ind];
			localStorage.setItem("settingLivingRockEnchants", JSON.stringify(lrEnchants))
		})
	}

	for (let i = 0; i < livingRockParentE4.children.length; i++)
	{
		const element = livingRockParentE4.children[i];
		const ind = i;

		if (element.nodeName != 'INPUT')
			continue;

		element.checked = lrEnchants['e4'][i];
		element.addEventListener("click", (e) => {
			lrEnchants['e4'][ind] = !lrEnchants['e4'][ind];
			localStorage.setItem("settingLivingRockEnchants", JSON.stringify(lrEnchants))
		})
	}
	//#endregion
	//#endregion

		
			//#region Other
			let settingFishing = document.getElementById("settingFishing");
			settingFishing.checked = returnLocalBool("settingFishing");
			settingFishing.addEventListener("click", () => {
				localStorage.setItem("settingFishing", settingFishing.checked);
			});
			//#endregion

			//#region Debug
			let settingRawSize = document.getElementById("settingRawSize");
			settingRawSize.checked = returnLocalBool("settingRawSize");
			settingRawSize.addEventListener("click", () => {localStorage.setItem("settingRawSize", settingRawSize.checked);});

			let settingLivingResourcesID = document.getElementById("settingLivingResourcesID");
			settingLivingResourcesID.checked = returnLocalBool("settingLivingResourcesID");
			settingLivingResourcesID.addEventListener("click", () => {localStorage.setItem("settingLivingResourcesID", settingLivingResourcesID.checked);});
			//#endregion
</script>