<div class="container px-6 mx-auto grid">
	<div class="grid gap-6 mb-8 md:grid-cols-1 xl:grid-cols-1">
		<div class="mt-4 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Static Resources
				</h2>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Fiber
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawFiberT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>


				</div>
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawFiberE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawFiberE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Hide
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawHideT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>


				</div>
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawHideE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawHideE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Wood
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawLogT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>


				</div>
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawLogE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawLogE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Ore
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawOreT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>


				</div>
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawOreE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawOreE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Rock
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawRockT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>


				</div>
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingRawRockE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingRawRockE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="mt-8 flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h2 class=" text-4xl font-semibold text-gray-600 dark:text-gray-300">
					Living Resources
				</h2>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Dryad (Fiber)
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingFiberT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>
				</div>
				
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingFiberE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingFiberE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Animals (Hide)
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingHideT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>
				</div>
				
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingHideE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingHideE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Spirit (Wood)
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingLogT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>
				</div>
				
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingLogE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingLogE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Elemental (Ore)
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingOreT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>
				</div>
				
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingOreE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingOreE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 ">
			<div>
				<h4 class="text-2xl font-semibold text-gray-600 dark:text-gray-300">
					Elemental (Rock)
				</h4>

				<div class="flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingRockT1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockT2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockT3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockT4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T4</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockT5" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T5</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockT6" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T6</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockT7" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T7</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockT8" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">T8</span>
					</label>
				</div>
				
				<div class="mt-4 flex">

					<label class="flex items-center">
						<input type="checkbox" id="settingLivingRockE0" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E0</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockE1" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E1</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockE2" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E2</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockE3" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E3</span>
					</label>
					<label class="flex items-center ml-3">
						<input type="checkbox" id="settingLivingRockE4" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
						<span class="dark:text-white ml-2">E4</span>
					</label>

				</div>
			</div>
		</div>

		<div class="flex items-start p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			<div>
				<h4 class="mb-4 text-2xl font-semibold text-gray-600 dark:text-gray-300">
                    Debug
                </h4>
				
				<!-- TODO -->
				<label class="flex items-center space-x-2">
					<input disabled type="checkbox" id="settingRawSize" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
					<span class="dark:text-white ml-4">Show Size</span>
				</label>

				<!-- TODO -->
				<label class="flex items-center">
                    <input disabled type="checkbox" id="settingLivingResourcesHP" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Show Hp</span>
                </label>

                <label class="flex items-center">
                    <input type="checkbox" id="settingLivingResourcesID" class="h-5 w-5 text-indigo-600 border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                    <span class="dark:text-white ml-2">Show ID</span>
                </label>
			</div>
		</div>

	</div>
</div>

<script>

			function returnLocalBool(item)
			{
				if (localStorage.getItem(item) == "true")
				{
					return true;
				}
				else
				{
					return false;
				}
			}

			//#region Static Resources - get
			// Tier
			const settingRawFiberT1 = document.getElementById("settingRawFiberT1");
			const settingRawFiberT2 = document.getElementById("settingRawFiberT2");
			const settingRawFiberT3 = document.getElementById("settingRawFiberT3");
			const settingRawFiberT4 = document.getElementById("settingRawFiberT4");
			const settingRawFiberT5 = document.getElementById("settingRawFiberT5");
			const settingRawFiberT6 = document.getElementById("settingRawFiberT6");
			const settingRawFiberT7 = document.getElementById("settingRawFiberT7");
			const settingRawFiberT8 = document.getElementById("settingRawFiberT8");
			// Enchant
			const settingRawFiberE0 = document.getElementById("settingRawFiberE0");
			const settingRawFiberE1 = document.getElementById("settingRawFiberE1");
			const settingRawFiberE2 = document.getElementById("settingRawFiberE2");
			const settingRawFiberE3 = document.getElementById("settingRawFiberE3");
			const settingRawFiberE4 = document.getElementById("settingRawFiberE4");

			// Tier
			const settingRawLogT1 = document.getElementById("settingRawLogT1");
			const settingRawLogT2 = document.getElementById("settingRawLogT2");
			const settingRawLogT3 = document.getElementById("settingRawLogT3");
			const settingRawLogT4 = document.getElementById("settingRawLogT4");
			const settingRawLogT5 = document.getElementById("settingRawLogT5");
			const settingRawLogT6 = document.getElementById("settingRawLogT6");
			const settingRawLogT7 = document.getElementById("settingRawLogT7");
			const settingRawLogT8 = document.getElementById("settingRawLogT8");
			// Enchant
			const settingRawLogE0 = document.getElementById("settingRawLogE0");
			const settingRawLogE1 = document.getElementById("settingRawLogE1");
			const settingRawLogE2 = document.getElementById("settingRawLogE2");
			const settingRawLogE3 = document.getElementById("settingRawLogE3");
			const settingRawLogE4 = document.getElementById("settingRawLogE4");

			// Tier
			const settingRawOreT1 = document.getElementById("settingRawOreT1");
			const settingRawOreT2 = document.getElementById("settingRawOreT2");
			const settingRawOreT3 = document.getElementById("settingRawOreT3");
			const settingRawOreT4 = document.getElementById("settingRawOreT4");
			const settingRawOreT5 = document.getElementById("settingRawOreT5");
			const settingRawOreT6 = document.getElementById("settingRawOreT6");
			const settingRawOreT7 = document.getElementById("settingRawOreT7");
			const settingRawOreT8 = document.getElementById("settingRawOreT8");
			// Enchant
			const settingRawOreE0 = document.getElementById("settingRawOreE0");
			const settingRawOreE1 = document.getElementById("settingRawOreE1");
			const settingRawOreE2 = document.getElementById("settingRawOreE2");
			const settingRawOreE3 = document.getElementById("settingRawOreE3");
			const settingRawOreE4 = document.getElementById("settingRawOreE4");

			// Tier
			const settingRawRockT1 = document.getElementById("settingRawRockT1");
			const settingRawRockT2 = document.getElementById("settingRawRockT2");
			const settingRawRockT3 = document.getElementById("settingRawRockT3");
			const settingRawRockT4 = document.getElementById("settingRawRockT4");
			const settingRawRockT5 = document.getElementById("settingRawRockT5");
			const settingRawRockT6 = document.getElementById("settingRawRockT6");
			const settingRawRockT7 = document.getElementById("settingRawRockT7");
			const settingRawRockT8 = document.getElementById("settingRawRockT8");
			// Enchant
			const settingRawRockE0 = document.getElementById("settingRawRockE0");
			const settingRawRockE1 = document.getElementById("settingRawRockE1");
			const settingRawRockE2 = document.getElementById("settingRawRockE2");
			const settingRawRockE3 = document.getElementById("settingRawRockE3");
			const settingRawRockE4 = document.getElementById("settingRawRockE4");

			// Tier
			const settingRawHideT1 = document.getElementById("settingRawHideT1");
			const settingRawHideT2 = document.getElementById("settingRawHideT2");
			const settingRawHideT3 = document.getElementById("settingRawHideT3");
			const settingRawHideT4 = document.getElementById("settingRawHideT4");
			const settingRawHideT5 = document.getElementById("settingRawHideT5");
			const settingRawHideT6 = document.getElementById("settingRawHideT6");
			const settingRawHideT7 = document.getElementById("settingRawHideT7");
			const settingRawHideT8 = document.getElementById("settingRawHideT8");
			// Enchant
			const settingRawHideE0 = document.getElementById("settingRawHideE0");
			const settingRawHideE1 = document.getElementById("settingRawHideE1");
			const settingRawHideE2 = document.getElementById("settingRawHideE2");
			const settingRawHideE3 = document.getElementById("settingRawHideE3");
			const settingRawHideE4 = document.getElementById("settingRawHideE4");
			//#endregion

			//#region Living Resources - get
			// Tier
			const settingLivingFiberT1 = document.getElementById("settingLivingFiberT1");
			const settingLivingFiberT2 = document.getElementById("settingLivingFiberT2");
			const settingLivingFiberT3 = document.getElementById("settingLivingFiberT3");
			const settingLivingFiberT4 = document.getElementById("settingLivingFiberT4");
			const settingLivingFiberT5 = document.getElementById("settingLivingFiberT5");
			const settingLivingFiberT6 = document.getElementById("settingLivingFiberT6");
			const settingLivingFiberT7 = document.getElementById("settingLivingFiberT7");
			const settingLivingFiberT8 = document.getElementById("settingLivingFiberT8");
			// Enchant
			const settingLivingFiberE0 = document.getElementById("settingLivingFiberE0");
			const settingLivingFiberE1 = document.getElementById("settingLivingFiberE1");
			const settingLivingFiberE2 = document.getElementById("settingLivingFiberE2");
			const settingLivingFiberE3 = document.getElementById("settingLivingFiberE3");
			const settingLivingFiberE4 = document.getElementById("settingLivingFiberE4");

			// Tier
			const settingLivingLogT1 = document.getElementById("settingLivingLogT1");
			const settingLivingLogT2 = document.getElementById("settingLivingLogT2");
			const settingLivingLogT3 = document.getElementById("settingLivingLogT3");
			const settingLivingLogT4 = document.getElementById("settingLivingLogT4");
			const settingLivingLogT5 = document.getElementById("settingLivingLogT5");
			const settingLivingLogT6 = document.getElementById("settingLivingLogT6");
			const settingLivingLogT7 = document.getElementById("settingLivingLogT7");
			const settingLivingLogT8 = document.getElementById("settingLivingLogT8");
			// Enchant
			const settingLivingLogE0 = document.getElementById("settingLivingLogE0");
			const settingLivingLogE1 = document.getElementById("settingLivingLogE1");
			const settingLivingLogE2 = document.getElementById("settingLivingLogE2");
			const settingLivingLogE3 = document.getElementById("settingLivingLogE3");
			const settingLivingLogE4 = document.getElementById("settingLivingLogE4");

			// Tier
			const settingLivingOreT1 = document.getElementById("settingLivingOreT1");
			const settingLivingOreT2 = document.getElementById("settingLivingOreT2");
			const settingLivingOreT3 = document.getElementById("settingLivingOreT3");
			const settingLivingOreT4 = document.getElementById("settingLivingOreT4");
			const settingLivingOreT5 = document.getElementById("settingLivingOreT5");
			const settingLivingOreT6 = document.getElementById("settingLivingOreT6");
			const settingLivingOreT7 = document.getElementById("settingLivingOreT7");
			const settingLivingOreT8 = document.getElementById("settingLivingOreT8");
			// Enchant
			const settingLivingOreE0 = document.getElementById("settingLivingOreE0");
			const settingLivingOreE1 = document.getElementById("settingLivingOreE1");
			const settingLivingOreE2 = document.getElementById("settingLivingOreE2");
			const settingLivingOreE3 = document.getElementById("settingLivingOreE3");
			const settingLivingOreE4 = document.getElementById("settingLivingOreE4");

			// Tier
			const settingLivingRockT1 = document.getElementById("settingLivingRockT1");
			const settingLivingRockT2 = document.getElementById("settingLivingRockT2");
			const settingLivingRockT3 = document.getElementById("settingLivingRockT3");
			const settingLivingRockT4 = document.getElementById("settingLivingRockT4");
			const settingLivingRockT5 = document.getElementById("settingLivingRockT5");
			const settingLivingRockT6 = document.getElementById("settingLivingRockT6");
			const settingLivingRockT7 = document.getElementById("settingLivingRockT7");
			const settingLivingRockT8 = document.getElementById("settingLivingRockT8");
			// Enchant
			const settingLivingRockE0 = document.getElementById("settingLivingRockE0");
			const settingLivingRockE1 = document.getElementById("settingLivingRockE1");
			const settingLivingRockE2 = document.getElementById("settingLivingRockE2");
			const settingLivingRockE3 = document.getElementById("settingLivingRockE3");
			const settingLivingRockE4 = document.getElementById("settingLivingRockE4");

			// Tier
			const settingLivingHideT1 = document.getElementById("settingLivingHideT1");
			const settingLivingHideT2 = document.getElementById("settingLivingHideT2");
			const settingLivingHideT3 = document.getElementById("settingLivingHideT3");
			const settingLivingHideT4 = document.getElementById("settingLivingHideT4");
			const settingLivingHideT5 = document.getElementById("settingLivingHideT5");
			const settingLivingHideT6 = document.getElementById("settingLivingHideT6");
			const settingLivingHideT7 = document.getElementById("settingLivingHideT7");
			const settingLivingHideT8 = document.getElementById("settingLivingHideT8");
			// Enchant
			const settingLivingHideE0 = document.getElementById("settingLivingHideE0");
			const settingLivingHideE1 = document.getElementById("settingLivingHideE1");
			const settingLivingHideE2 = document.getElementById("settingLivingHideE2");
			const settingLivingHideE3 = document.getElementById("settingLivingHideE3");
			const settingLivingHideE4 = document.getElementById("settingLivingHideE4");
			//#endregion


			

			//#region Static Resources - checkbox
			// Tier
			settingRawFiberT1.checked = returnLocalBool("settingRawFiberT1");
			settingRawFiberT2.checked = returnLocalBool("settingRawFiberT2");
			settingRawFiberT3.checked = returnLocalBool("settingRawFiberT3");
			settingRawFiberT4.checked = returnLocalBool("settingRawFiberT4");
			settingRawFiberT5.checked = returnLocalBool("settingRawFiberT5");
			settingRawFiberT6.checked = returnLocalBool("settingRawFiberT6");
			settingRawFiberT7.checked = returnLocalBool("settingRawFiberT7");
			settingRawFiberT8.checked = returnLocalBool("settingRawFiberT8");
			// Enchant
			settingRawFiberE0.checked = returnLocalBool("settingRawFiberE0");
			settingRawFiberE1.checked = returnLocalBool("settingRawFiberE1");
			settingRawFiberE2.checked = returnLocalBool("settingRawFiberE2");
			settingRawFiberE3.checked = returnLocalBool("settingRawFiberE3");
			settingRawFiberE4.checked = returnLocalBool("settingRawFiberE4");

			// Tier
			settingRawLogT1.checked = returnLocalBool("settingRawLogT1");
			settingRawLogT2.checked = returnLocalBool("settingRawLogT2");
			settingRawLogT3.checked = returnLocalBool("settingRawLogT3");
			settingRawLogT4.checked = returnLocalBool("settingRawLogT4");
			settingRawLogT5.checked = returnLocalBool("settingRawLogT5");
			settingRawLogT6.checked = returnLocalBool("settingRawLogT6");
			settingRawLogT7.checked = returnLocalBool("settingRawLogT7");
			settingRawLogT8.checked = returnLocalBool("settingRawLogT8");
			// Enchant
			settingRawLogE0.checked = returnLocalBool("settingRawLogE0");
			settingRawLogE1.checked = returnLocalBool("settingRawLogE1");
			settingRawLogE2.checked = returnLocalBool("settingRawLogE2");
			settingRawLogE3.checked = returnLocalBool("settingRawLogE3");
			settingRawLogE4.checked = returnLocalBool("settingRawLogE4");

			// Tier
			settingRawOreT1.checked = returnLocalBool("settingRawOreT1");
			settingRawOreT2.checked = returnLocalBool("settingRawOreT2");
			settingRawOreT3.checked = returnLocalBool("settingRawOreT3");
			settingRawOreT4.checked = returnLocalBool("settingRawOreT4");
			settingRawOreT5.checked = returnLocalBool("settingRawOreT5");
			settingRawOreT6.checked = returnLocalBool("settingRawOreT6");
			settingRawOreT7.checked = returnLocalBool("settingRawOreT7");
			settingRawOreT8.checked = returnLocalBool("settingRawOreT8");
			// Enchant
			settingRawOreE0.checked = returnLocalBool("settingRawOreE0");
			settingRawOreE1.checked = returnLocalBool("settingRawOreE1");
			settingRawOreE2.checked = returnLocalBool("settingRawOreE2");
			settingRawOreE3.checked = returnLocalBool("settingRawOreE3");
			settingRawOreE4.checked = returnLocalBool("settingRawOreE4");

			// Tier
			settingRawRockT1.checked = returnLocalBool("settingRawRockT1");
			settingRawRockT2.checked = returnLocalBool("settingRawRockT2");
			settingRawRockT3.checked = returnLocalBool("settingRawRockT3");
			settingRawRockT4.checked = returnLocalBool("settingRawRockT4");
			settingRawRockT5.checked = returnLocalBool("settingRawRockT5");
			settingRawRockT6.checked = returnLocalBool("settingRawRockT6");
			settingRawRockT7.checked = returnLocalBool("settingRawRockT7");
			settingRawRockT8.checked = returnLocalBool("settingRawRockT8");
			// Enchant
			settingRawRockE0.checked = returnLocalBool("settingRawRockE0");
			settingRawRockE1.checked = returnLocalBool("settingRawRockE1");
			settingRawRockE2.checked = returnLocalBool("settingRawRockE2");
			settingRawRockE3.checked = returnLocalBool("settingRawRockE3");
			settingRawRockE4.checked = returnLocalBool("settingRawRockE4");

			// Tier
			settingRawHideT1.checked = returnLocalBool("settingRawHideT1");
			settingRawHideT2.checked = returnLocalBool("settingRawHideT2");
			settingRawHideT3.checked = returnLocalBool("settingRawHideT3");
			settingRawHideT4.checked = returnLocalBool("settingRawHideT4");
			settingRawHideT5.checked = returnLocalBool("settingRawHideT5");
			settingRawHideT6.checked = returnLocalBool("settingRawHideT6");
			settingRawHideT7.checked = returnLocalBool("settingRawHideT7");
			settingRawHideT8.checked = returnLocalBool("settingRawHideT8");
			// Enchant
			settingRawHideE0.checked = returnLocalBool("settingRawHideE0");
			settingRawHideE1.checked = returnLocalBool("settingRawHideE1");
			settingRawHideE2.checked = returnLocalBool("settingRawHideE2");
			settingRawHideE3.checked = returnLocalBool("settingRawHideE3");
			settingRawHideE4.checked = returnLocalBool("settingRawHideE4");
			//#endregion

			//#region Living Resources - checkbox
			// Tier
			settingLivingFiberT1.checked = returnLocalBool("settingLivingFiberT1");
			settingLivingFiberT2.checked = returnLocalBool("settingLivingFiberT2");
			settingLivingFiberT3.checked = returnLocalBool("settingLivingFiberT3");
			settingLivingFiberT4.checked = returnLocalBool("settingLivingFiberT4");
			settingLivingFiberT5.checked = returnLocalBool("settingLivingFiberT5");
			settingLivingFiberT6.checked = returnLocalBool("settingLivingFiberT6");
			settingLivingFiberT7.checked = returnLocalBool("settingLivingFiberT7");
			settingLivingFiberT8.checked = returnLocalBool("settingLivingFiberT8");
			// Enchant
			settingLivingFiberE0.checked = returnLocalBool("settingLivingFiberE0");
			settingLivingFiberE1.checked = returnLocalBool("settingLivingFiberE1");
			settingLivingFiberE2.checked = returnLocalBool("settingLivingFiberE2");
			settingLivingFiberE3.checked = returnLocalBool("settingLivingFiberE3");
			settingLivingFiberE4.checked = returnLocalBool("settingLivingFiberE4");

			// Tier
			settingLivingLogT1.checked = returnLocalBool("settingLivingLogT1");
			settingLivingLogT2.checked = returnLocalBool("settingLivingLogT2");
			settingLivingLogT3.checked = returnLocalBool("settingLivingLogT3");
			settingLivingLogT4.checked = returnLocalBool("settingLivingLogT4");
			settingLivingLogT5.checked = returnLocalBool("settingLivingLogT5");
			settingLivingLogT6.checked = returnLocalBool("settingLivingLogT6");
			settingLivingLogT7.checked = returnLocalBool("settingLivingLogT7");
			settingLivingLogT8.checked = returnLocalBool("settingLivingLogT8");
			// Enchant
			settingLivingLogE0.checked = returnLocalBool("settingLivingLogE0");
			settingLivingLogE1.checked = returnLocalBool("settingLivingLogE1");
			settingLivingLogE2.checked = returnLocalBool("settingLivingLogE2");
			settingLivingLogE3.checked = returnLocalBool("settingLivingLogE3");
			settingLivingLogE4.checked = returnLocalBool("settingLivingLogE4");

			// Tier
			settingLivingOreT1.checked = returnLocalBool("settingLivingOreT1");
			settingLivingOreT2.checked = returnLocalBool("settingLivingOreT2");
			settingLivingOreT3.checked = returnLocalBool("settingLivingOreT3");
			settingLivingOreT4.checked = returnLocalBool("settingLivingOreT4");
			settingLivingOreT5.checked = returnLocalBool("settingLivingOreT5");
			settingLivingOreT6.checked = returnLocalBool("settingLivingOreT6");
			settingLivingOreT7.checked = returnLocalBool("settingLivingOreT7");
			settingLivingOreT8.checked = returnLocalBool("settingLivingOreT8");
			// Enchant
			settingLivingOreE0.checked = returnLocalBool("settingLivingOreE0");
			settingLivingOreE1.checked = returnLocalBool("settingLivingOreE1");
			settingLivingOreE2.checked = returnLocalBool("settingLivingOreE2");
			settingLivingOreE3.checked = returnLocalBool("settingLivingOreE3");
			settingLivingOreE4.checked = returnLocalBool("settingLivingOreE4");

			// Tier
			settingLivingRockT1.checked = returnLocalBool("settingLivingRockT1");
			settingLivingRockT2.checked = returnLocalBool("settingLivingRockT2");
			settingLivingRockT3.checked = returnLocalBool("settingLivingRockT3");
			settingLivingRockT4.checked = returnLocalBool("settingLivingRockT4");
			settingLivingRockT5.checked = returnLocalBool("settingLivingRockT5");
			settingLivingRockT6.checked = returnLocalBool("settingLivingRockT6");
			settingLivingRockT7.checked = returnLocalBool("settingLivingRockT7");
			settingLivingRockT8.checked = returnLocalBool("settingLivingRockT8");
			// Enchant
			settingLivingRockE0.checked = returnLocalBool("settingLivingRockE0");
			settingLivingRockE1.checked = returnLocalBool("settingLivingRockE1");
			settingLivingRockE2.checked = returnLocalBool("settingLivingRockE2");
			settingLivingRockE3.checked = returnLocalBool("settingLivingRockE3");
			settingLivingRockE4.checked = returnLocalBool("settingLivingRockE4");

			// Tier
			settingLivingHideT1.checked = returnLocalBool("settingLivingHideT1");
			settingLivingHideT2.checked = returnLocalBool("settingLivingHideT2");
			settingLivingHideT3.checked = returnLocalBool("settingLivingHideT3");
			settingLivingHideT4.checked = returnLocalBool("settingLivingHideT4");
			settingLivingHideT5.checked = returnLocalBool("settingLivingHideT5");
			settingLivingHideT6.checked = returnLocalBool("settingLivingHideT6");
			settingLivingHideT7.checked = returnLocalBool("settingLivingHideT7");
			settingLivingHideT8.checked = returnLocalBool("settingLivingHideT8");
			// Enchant
			settingLivingHideE0.checked = returnLocalBool("settingLivingHideE0");
			settingLivingHideE1.checked = returnLocalBool("settingLivingHideE1");
			settingLivingHideE2.checked = returnLocalBool("settingLivingHideE2");
			settingLivingHideE3.checked = returnLocalBool("settingLivingHideE3");
			settingLivingHideE4.checked = returnLocalBool("settingLivingHideE4");
			//#endregion

			
			
			//#region Static Resources - checkbox event listener
			// Tier
			settingRawFiberT1.addEventListener("click", () => {localStorage.setItem("settingRawFiberT1", settingRawFiberT1.checked);});
			settingRawFiberT2.addEventListener("click", () => {localStorage.setItem("settingRawFiberT2", settingRawFiberT2.checked);});
			settingRawFiberT3.addEventListener("click", () => {localStorage.setItem("settingRawFiberT3", settingRawFiberT3.checked);});
			settingRawFiberT4.addEventListener("click", () => {localStorage.setItem("settingRawFiberT4", settingRawFiberT4.checked);});
			settingRawFiberT5.addEventListener("click", () => {localStorage.setItem("settingRawFiberT5", settingRawFiberT5.checked);});
			settingRawFiberT6.addEventListener("click", () => {localStorage.setItem("settingRawFiberT6", settingRawFiberT6.checked);});
			settingRawFiberT7.addEventListener("click", () => {localStorage.setItem("settingRawFiberT7", settingRawFiberT7.checked);});
			settingRawFiberT8.addEventListener("click", () => {localStorage.setItem("settingRawFiberT8", settingRawFiberT8.checked);});
			// Enchant
			settingRawFiberE0.addEventListener("click", () => {localStorage.setItem("settingRawFiberE0", settingRawFiberE0.checked);});
			settingRawFiberE1.addEventListener("click", () => {localStorage.setItem("settingRawFiberE1", settingRawFiberE1.checked);});
			settingRawFiberE2.addEventListener("click", () => {localStorage.setItem("settingRawFiberE2", settingRawFiberE2.checked);});
			settingRawFiberE3.addEventListener("click", () => {localStorage.setItem("settingRawFiberE3", settingRawFiberE3.checked);});
			settingRawFiberE4.addEventListener("click", () => {localStorage.setItem("settingRawFiberE4", settingRawFiberE4.checked);});
			
			// Tier
			settingRawLogT1.addEventListener("click", () => {localStorage.setItem("settingRawLogT1", settingRawLogT1.checked);});
			settingRawLogT2.addEventListener("click", () => {localStorage.setItem("settingRawLogT2", settingRawLogT2.checked);});
			settingRawLogT3.addEventListener("click", () => {localStorage.setItem("settingRawLogT3", settingRawLogT3.checked);});
			settingRawLogT4.addEventListener("click", () => {localStorage.setItem("settingRawLogT4", settingRawLogT4.checked);});
			settingRawLogT5.addEventListener("click", () => {localStorage.setItem("settingRawLogT5", settingRawLogT5.checked);});
			settingRawLogT6.addEventListener("click", () => {localStorage.setItem("settingRawLogT6", settingRawLogT6.checked);});
			settingRawLogT7.addEventListener("click", () => {localStorage.setItem("settingRawLogT7", settingRawLogT7.checked);});
			settingRawLogT8.addEventListener("click", () => {localStorage.setItem("settingRawLogT8", settingRawLogT8.checked);});
			// Enchant
			settingRawLogE0.addEventListener("click", () => {localStorage.setItem("settingRawLogE0", settingRawLogE0.checked);});
			settingRawLogE1.addEventListener("click", () => {localStorage.setItem("settingRawLogE1", settingRawLogE1.checked);});
			settingRawLogE2.addEventListener("click", () => {localStorage.setItem("settingRawLogE2", settingRawLogE2.checked);});
			settingRawLogE3.addEventListener("click", () => {localStorage.setItem("settingRawLogE3", settingRawLogE3.checked);});
			settingRawLogE4.addEventListener("click", () => {localStorage.setItem("settingRawLogE4", settingRawLogE4.checked);});
			
			// Tier
			settingRawOreT1.addEventListener("click", () => {localStorage.setItem("settingRawOreT1", settingRawOreT1.checked);});
			settingRawOreT2.addEventListener("click", () => {localStorage.setItem("settingRawOreT2", settingRawOreT2.checked);});
			settingRawOreT3.addEventListener("click", () => {localStorage.setItem("settingRawOreT3", settingRawOreT3.checked);});
			settingRawOreT4.addEventListener("click", () => {localStorage.setItem("settingRawOreT4", settingRawOreT4.checked);});
			settingRawOreT5.addEventListener("click", () => {localStorage.setItem("settingRawOreT5", settingRawOreT5.checked);});
			settingRawOreT6.addEventListener("click", () => {localStorage.setItem("settingRawOreT6", settingRawOreT6.checked);});
			settingRawOreT7.addEventListener("click", () => {localStorage.setItem("settingRawOreT7", settingRawOreT7.checked);});
			settingRawOreT8.addEventListener("click", () => {localStorage.setItem("settingRawOreT8", settingRawOreT8.checked);});
			// Enchant
			settingRawOreE0.addEventListener("click", () => {localStorage.setItem("settingRawOreE0", settingRawOreE0.checked);});
			settingRawOreE1.addEventListener("click", () => {localStorage.setItem("settingRawOreE1", settingRawOreE1.checked);});
			settingRawOreE2.addEventListener("click", () => {localStorage.setItem("settingRawOreE2", settingRawOreE2.checked);});
			settingRawOreE3.addEventListener("click", () => {localStorage.setItem("settingRawOreE3", settingRawOreE3.checked);});
			settingRawOreE4.addEventListener("click", () => {localStorage.setItem("settingRawOreE4", settingRawOreE4.checked);});

			// Tier
			settingRawRockT1.addEventListener("click", () => {localStorage.setItem("settingRawRockT1", settingRawRockT1.checked);});
			settingRawRockT2.addEventListener("click", () => {localStorage.setItem("settingRawRockT2", settingRawRockT2.checked);});
			settingRawRockT3.addEventListener("click", () => {localStorage.setItem("settingRawRockT3", settingRawRockT3.checked);});
			settingRawRockT4.addEventListener("click", () => {localStorage.setItem("settingRawRockT4", settingRawRockT4.checked);});
			settingRawRockT5.addEventListener("click", () => {localStorage.setItem("settingRawRockT5", settingRawRockT5.checked);});
			settingRawRockT6.addEventListener("click", () => {localStorage.setItem("settingRawRockT6", settingRawRockT6.checked);});
			settingRawRockT7.addEventListener("click", () => {localStorage.setItem("settingRawRockT7", settingRawRockT7.checked);});
			settingRawRockT8.addEventListener("click", () => {localStorage.setItem("settingRawRockT8", settingRawRockT8.checked);});
			// Enchant
			settingRawRockE0.addEventListener("click", () => {localStorage.setItem("settingRawRockE0", settingRawRockE0.checked);});
			settingRawRockE1.addEventListener("click", () => {localStorage.setItem("settingRawRockE1", settingRawRockE1.checked);});
			settingRawRockE2.addEventListener("click", () => {localStorage.setItem("settingRawRockE2", settingRawRockE2.checked);});
			settingRawRockE3.addEventListener("click", () => {localStorage.setItem("settingRawRockE3", settingRawRockE3.checked);});
			settingRawRockE4.addEventListener("click", () => {localStorage.setItem("settingRawRockE4", settingRawRockE4.checked);});

			// Tier
			settingRawHideT1.addEventListener("click", () => {localStorage.setItem("settingRawHideT1", settingRawHideT1.checked);});
			settingRawHideT2.addEventListener("click", () => {localStorage.setItem("settingRawHideT2", settingRawHideT2.checked);});
			settingRawHideT3.addEventListener("click", () => {localStorage.setItem("settingRawHideT3", settingRawHideT3.checked);});
			settingRawHideT4.addEventListener("click", () => {localStorage.setItem("settingRawHideT4", settingRawHideT4.checked);});
			settingRawHideT5.addEventListener("click", () => {localStorage.setItem("settingRawHideT5", settingRawHideT5.checked);});
			settingRawHideT6.addEventListener("click", () => {localStorage.setItem("settingRawHideT6", settingRawHideT6.checked);});
			settingRawHideT7.addEventListener("click", () => {localStorage.setItem("settingRawHideT7", settingRawHideT7.checked);});
			settingRawHideT8.addEventListener("click", () => {localStorage.setItem("settingRawHideT8", settingRawHideT8.checked);});
			// Enchant
			settingRawHideE0.addEventListener("click", () => {localStorage.setItem("settingRawHideE0", settingRawHideE0.checked);});
			settingRawHideE1.addEventListener("click", () => {localStorage.setItem("settingRawHideE1", settingRawHideE1.checked);});
			settingRawHideE2.addEventListener("click", () => {localStorage.setItem("settingRawHideE2", settingRawHideE2.checked);});
			settingRawHideE3.addEventListener("click", () => {localStorage.setItem("settingRawHideE3", settingRawHideE3.checked);});
			settingRawHideE4.addEventListener("click", () => {localStorage.setItem("settingRawHideE4", settingRawHideE4.checked);});
			//#endregion

			//#region Living Resources - checkbox event listener
			// Tier
			settingLivingFiberT1.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT1", settingLivingFiberT1.checked);});
			settingLivingFiberT2.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT2", settingLivingFiberT2.checked);});
			settingLivingFiberT3.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT3", settingLivingFiberT3.checked);});
			settingLivingFiberT4.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT4", settingLivingFiberT4.checked);});
			settingLivingFiberT5.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT5", settingLivingFiberT5.checked);});
			settingLivingFiberT6.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT6", settingLivingFiberT6.checked);});
			settingLivingFiberT7.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT7", settingLivingFiberT7.checked);});
			settingLivingFiberT8.addEventListener("click", () => {localStorage.setItem("settingLivingFiberT8", settingLivingFiberT8.checked);});
			// Enchant
			settingLivingFiberE0.addEventListener("click", () => {localStorage.setItem("settingLivingFiberE0", settingLivingFiberE0.checked);});
			settingLivingFiberE1.addEventListener("click", () => {localStorage.setItem("settingLivingFiberE1", settingLivingFiberE1.checked);});
			settingLivingFiberE2.addEventListener("click", () => {localStorage.setItem("settingLivingFiberE2", settingLivingFiberE2.checked);});
			settingLivingFiberE3.addEventListener("click", () => {localStorage.setItem("settingLivingFiberE3", settingLivingFiberE3.checked);});
			settingLivingFiberE4.addEventListener("click", () => {localStorage.setItem("settingLivingFiberE4", settingLivingFiberE4.checked);});
			
			// Tier
			settingLivingLogT1.addEventListener("click", () => {localStorage.setItem("settingLivingLogT1", settingLivingLogT1.checked);});
			settingLivingLogT2.addEventListener("click", () => {localStorage.setItem("settingLivingLogT2", settingLivingLogT2.checked);});
			settingLivingLogT3.addEventListener("click", () => {localStorage.setItem("settingLivingLogT3", settingLivingLogT3.checked);});
			settingLivingLogT4.addEventListener("click", () => {localStorage.setItem("settingLivingLogT4", settingLivingLogT4.checked);});
			settingLivingLogT5.addEventListener("click", () => {localStorage.setItem("settingLivingLogT5", settingLivingLogT5.checked);});
			settingLivingLogT6.addEventListener("click", () => {localStorage.setItem("settingLivingLogT6", settingLivingLogT6.checked);});
			settingLivingLogT7.addEventListener("click", () => {localStorage.setItem("settingLivingLogT7", settingLivingLogT7.checked);});
			settingLivingLogT8.addEventListener("click", () => {localStorage.setItem("settingLivingLogT8", settingLivingLogT8.checked);});
			// Enchant
			settingLivingLogE0.addEventListener("click", () => {localStorage.setItem("settingLivingLogE0", settingLivingLogE0.checked);});
			settingLivingLogE1.addEventListener("click", () => {localStorage.setItem("settingLivingLogE1", settingLivingLogE1.checked);});
			settingLivingLogE2.addEventListener("click", () => {localStorage.setItem("settingLivingLogE2", settingLivingLogE2.checked);});
			settingLivingLogE3.addEventListener("click", () => {localStorage.setItem("settingLivingLogE3", settingLivingLogE3.checked);});
			settingLivingLogE4.addEventListener("click", () => {localStorage.setItem("settingLivingLogE4", settingLivingLogE4.checked);});
			
			// Tier
			settingLivingOreT1.addEventListener("click", () => {localStorage.setItem("settingLivingOreT1", settingLivingOreT1.checked);});
			settingLivingOreT2.addEventListener("click", () => {localStorage.setItem("settingLivingOreT2", settingLivingOreT2.checked);});
			settingLivingOreT3.addEventListener("click", () => {localStorage.setItem("settingLivingOreT3", settingLivingOreT3.checked);});
			settingLivingOreT4.addEventListener("click", () => {localStorage.setItem("settingLivingOreT4", settingLivingOreT4.checked);});
			settingLivingOreT5.addEventListener("click", () => {localStorage.setItem("settingLivingOreT5", settingLivingOreT5.checked);});
			settingLivingOreT6.addEventListener("click", () => {localStorage.setItem("settingLivingOreT6", settingLivingOreT6.checked);});
			settingLivingOreT7.addEventListener("click", () => {localStorage.setItem("settingLivingOreT7", settingLivingOreT7.checked);});
			settingLivingOreT8.addEventListener("click", () => {localStorage.setItem("settingLivingOreT8", settingLivingOreT8.checked);});
			// Enchant
			settingLivingOreE0.addEventListener("click", () => {localStorage.setItem("settingLivingOreE0", settingLivingOreE0.checked);});
			settingLivingOreE1.addEventListener("click", () => {localStorage.setItem("settingLivingOreE1", settingLivingOreE1.checked);});
			settingLivingOreE2.addEventListener("click", () => {localStorage.setItem("settingLivingOreE2", settingLivingOreE2.checked);});
			settingLivingOreE3.addEventListener("click", () => {localStorage.setItem("settingLivingOreE3", settingLivingOreE3.checked);});
			settingLivingOreE4.addEventListener("click", () => {localStorage.setItem("settingLivingOreE4", settingLivingOreE4.checked);});

			// Tier
			settingLivingRockT1.addEventListener("click", () => {localStorage.setItem("settingLivingRockT1", settingLivingRockT1.checked);});
			settingLivingRockT2.addEventListener("click", () => {localStorage.setItem("settingLivingRockT2", settingLivingRockT2.checked);});
			settingLivingRockT3.addEventListener("click", () => {localStorage.setItem("settingLivingRockT3", settingLivingRockT3.checked);});
			settingLivingRockT4.addEventListener("click", () => {localStorage.setItem("settingLivingRockT4", settingLivingRockT4.checked);});
			settingLivingRockT5.addEventListener("click", () => {localStorage.setItem("settingLivingRockT5", settingLivingRockT5.checked);});
			settingLivingRockT6.addEventListener("click", () => {localStorage.setItem("settingLivingRockT6", settingLivingRockT6.checked);});
			settingLivingRockT7.addEventListener("click", () => {localStorage.setItem("settingLivingRockT7", settingLivingRockT7.checked);});
			settingLivingRockT8.addEventListener("click", () => {localStorage.setItem("settingLivingRockT8", settingLivingRockT8.checked);});
			// Enchant
			settingLivingRockE0.addEventListener("click", () => {localStorage.setItem("settingLivingRockE0", settingLivingRockE0.checked);});
			settingLivingRockE1.addEventListener("click", () => {localStorage.setItem("settingLivingRockE1", settingLivingRockE1.checked);});
			settingLivingRockE2.addEventListener("click", () => {localStorage.setItem("settingLivingRockE2", settingLivingRockE2.checked);});
			settingLivingRockE3.addEventListener("click", () => {localStorage.setItem("settingLivingRockE3", settingLivingRockE3.checked);});
			settingLivingRockE4.addEventListener("click", () => {localStorage.setItem("settingLivingRockE4", settingLivingRockE4.checked);});

			// Tier
			settingLivingHideT1.addEventListener("click", () => {localStorage.setItem("settingLivingHideT1", settingLivingHideT1.checked);});
			settingLivingHideT2.addEventListener("click", () => {localStorage.setItem("settingLivingHideT2", settingLivingHideT2.checked);});
			settingLivingHideT3.addEventListener("click", () => {localStorage.setItem("settingLivingHideT3", settingLivingHideT3.checked);});
			settingLivingHideT4.addEventListener("click", () => {localStorage.setItem("settingLivingHideT4", settingLivingHideT4.checked);});
			settingLivingHideT5.addEventListener("click", () => {localStorage.setItem("settingLivingHideT5", settingLivingHideT5.checked);});
			settingLivingHideT6.addEventListener("click", () => {localStorage.setItem("settingLivingHideT6", settingLivingHideT6.checked);});
			settingLivingHideT7.addEventListener("click", () => {localStorage.setItem("settingLivingHideT7", settingLivingHideT7.checked);});
			settingLivingHideT8.addEventListener("click", () => {localStorage.setItem("settingLivingHideT8", settingLivingHideT8.checked);});
			// Enchant
			settingLivingHideE0.addEventListener("click", () => {localStorage.setItem("settingLivingHideE0", settingLivingHideE0.checked);});
			settingLivingHideE1.addEventListener("click", () => {localStorage.setItem("settingLivingHideE1", settingLivingHideE1.checked);});
			settingLivingHideE2.addEventListener("click", () => {localStorage.setItem("settingLivingHideE2", settingLivingHideE2.checked);});
			settingLivingHideE3.addEventListener("click", () => {localStorage.setItem("settingLivingHideE3", settingLivingHideE3.checked);});
			settingLivingHideE4.addEventListener("click", () => {localStorage.setItem("settingLivingHideE4", settingLivingHideE4.checked);});
			//#endregion

			//#region Debug
			let settingRawSize = document.getElementById("settingRawSize");
			settingRawSize.checked = returnLocalBool("settingRawSize");
			settingRawSize.addEventListener("click", () => {localStorage.setItem("settingRawSize", settingRawSize.checked);});

			let settingLivingResourcesID = document.getElementById("settingLivingResourcesID");
			settingLivingResourcesID.checked = returnLocalBool("settingLivingResourcesID");
			settingLivingResourcesID.addEventListener("click", () => {localStorage.setItem("settingLivingResourcesID", settingLivingResourcesID.checked);});
			//#endregion
</script>